<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Empty</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="jstyle">
        <h1 >Empty!! <span style='font-size:100px;'>&#128579;</span></h1>
    </div>
    <div class="jlowerstyle">
      <a href="/" class="previous round">&#8249;</a>
      <h6>There is no Bill Entry</h6>
    </div>


  </body>
</html>
